[submodule "backend"]
	path = backend
	url = git@github.com:input-output-hk/icarus-poc-backend-service.git
	branch = beta
[submodule "chrome-extension"]
	path = chrome-extension
	url = git@github.com:input-output-hk/icarus-poc.git
	branch = beta
[submodule "cardano-sl"]
	path = cardano-sl
	url = git@github.com:atixlabs/cardano-sl.git
	branch = beta
